$primary: #9b59b6;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

h2, h3, h3 >a {
  font-family: "Ms Madi", cursive;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

#homepage {
  margin-top: 100px;
  height: 50vh;
  background: url("../img/logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
p > a{
  color: #fff;
}

.text-justify {
  text-align: justify;
}

.image {
  position: relative;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 3%;
  width: 94%;
  height: 90%;
  background: rgba(255, 255, 255, 0.8);
  color: $primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay--blur{
backdrop-filter: blur(5px);
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.image__overlay:hover > * {
  transform: translateY(0);
}
